@import url('https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css');
@import url('./header.css');
@import url('./parallax.css');
@import url('./navigation.css');
@import url('https://fonts.googleapis.com/css?family=Lato');

body, html {
	height: 100%;
	font-family: 'Lato', sans-serif;
	margin: 0;
}

* {
	margin: 0;
	padding: 0;
	font-family: Roboto;
}

.content {
	display: grid;
	background-color: #f5f5f5;
	grid-template-columns: 1fr;
	grid-template-areas: "header-c"
						 "main-c"
						 "foot-c";
}

.content > .heder-side-content {
	grid-area: header-c;
	background-color: #5fc562;
	box-shadow: 0px 1px 1px #d3d3d3;
}


.content > .main-side-content {
	grid-area: main-c;
	display: grid;
	grid-row-gap: 4vh;
}

.content > .footer-side-content {
	grid-area: foot-c;
	background: #1d1b1b;
	display: grid;
	grid-template-columns: 1fr 1fr 1fr;
}

.content > .footer-side-content > div {
	padding: 1em;
}

.foot-contact {
	display: grid;
	grid-template-columns: 1em 1fr;
	color: #fff;
	grid-column-gap: .5em;
	grid-row-gap: .5em;
	place-self: center;
}

.foot-contact > span {
	grid-area: 1 / 1 / span 1 / span 2;
	font-size: 20px;
	color: #3a3636;
}

.foot-socials {
	display: grid;
	grid-template-columns: 4em 4em 4em;
	place-self: center;
}

.icon-round {
	font-size: 20px;
	place-self: center;
	padding: .5em;
	background-color: #fff;
	border-radius: 50%;
}
/*
* rules on small devices, like phone or tablet
*/
@media only screen and (max-width: 1100px) {
	.content {
		grid-template-columns: 1fr;
		/*grid-template-rows: 5em 1fr 1fr auto;*/
		grid-template-areas: "header-c"
							 "main-c"
							 "right-c"
							 "foot-c";
	}
	.content > .footer-side-content {
		grid-template-columns: 1fr;
	}
	.parallax {
		-moz-background-size: auto;
		-webkit-background-size: auto;
		background-attachment: fixed;
		background-position: top;
		background-size: auto;
	}
}