@import url('https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css');
@import url('https://fonts.googleapis.com/css?family=Roboto:400,light');
@import url('./header.css');

html, body {
	height: 100%;
	margin: 0;
}

* {
	margin: 0;
	padding: 0;
	font-family: Roboto;
}

.content {
	display: grid;
	background-color: #f5f5f5;
	grid-template-columns: 1fr .3fr;
	grid-template-rows: 3em 1fr auto;
	grid-template-areas: "header-c header-c"
						 "main-c right-c"
						 "foot-c foot-c";
}

.content > .heder-side-content {
	grid-area: header-c;
	background-color: #5fc562;
	box-shadow: 0px 1px 1px #d3d3d3;
}


.content > .right-side-content {
	grid-area: right-c;
	padding: 1em;
}

.content > .main-side-content {
	grid-area: main-c;
	display: grid;
	grid-row-gap: 4vh;
	padding: 1em;
}

.content > .footer-side-content {
	grid-area: foot-c;
	background: #545050;
	display: grid;
	grid-template-columns: 1fr 1fr 1fr;
}

.content > .footer-side-content > div {
	padding: 1em;
}

.aticle {
	text-align: justify;
	display: grid;
	background-color: #fff;
	padding: 1em 0;
	grid-template-rows: 2em 1fr;
	grid-template-columns: 26% 1fr;
	border-radius: .5em;
	box-shadow: 0px 0 4px 1px #d3d3d3;
	grid-template-areas: "img-a title-a" "img-a description-a";
}

.article-title {
	font-size: 16px;
	font-weight: 900;
	grid-area: title-a;
	padding-left: .5em
}

.article-description {
	font-size: 14px;
	padding: 0em 1em 1em;
	color: #4c4949;
	grid-area: description-a;
}

.article-img {
	grid-area: img-a;
	height: 200px;
	border: 1px solid #d3d3d3;
	border-radius: 3px;
	width: 200px;
	place-self: center;
}

.article-sales {
	position: relative;
	top: -76%;
	left: -11%;
	background-color: orange;
	text-align: center;
	opacity: .8;
	color: #666;
	transform: rotate(-45deg);
	width: 10em;
}

.foot-contact {
	display: grid;
	grid-template-columns: 1em 1fr;
	color: #fff;
	grid-column-gap: .5em;
	grid-row-gap: .5em;
	place-self: center;
}

.foot-contact > span {
	grid-area: 1 / 1 / span 1 / span 2;
	font-size: 20px;
	color: #3a3636;
}

.foot-socials {
	display: grid;
	grid-template-columns: 4em 4em 4em;
	place-self: center;
}

.icon-round {
	font-size: 20px;
	place-self: center;
	padding: .5em;
	background-color: #fff;
	border-radius: 50%;
}
/*
* rules on small devices, like phone or tablet
*/
@media only screen and (max-width: 1100px) {
	.content {
		grid-template-columns: 1fr;
		/*grid-template-rows: 5em 1fr 1fr auto;*/
		grid-template-areas: "header-c"
							 "main-c"
							 "right-c"
							 "foot-c";
	}
	.aticle {
		grid-template-rows:auto 2em 1fr;
		grid-template-columns: 1fr;
		grid-template-areas: "img-a" 
							 "title-a"
							 "description-a";
	}
	.content > .footer-side-content {
		grid-template-columns: 1fr;
	}
}