.header-logo {
	grid-area: logo-h;
}

.header-content {
	grid-area: content-h;
	display: grid;
	grid-template-columns: 1fr 1fr 1fr;
}

.menu-item {
	justify-self: center;
	align-self: center;
	
}

.menu-item:hover {
	color: #cee0cb;
	cursor: pointer;
}

.floating-header {
	position: fixed;
	width: 100%;
	display: grid;
	background-color: #010001;
}

.header-presentation {
	height: 50vh;
	display: grid;
}

.main-menu {
	height: 6vh;
	color: #ffffff;
	z-index: 2;
}

.menu-item.active {
	border-bottom: 1px solid;
}

/*---------------------------------------------*/
.top-container {
	background-color: #010001;
	text-align: center;
}

.header {
	padding: 10px 16px;
	background: #010001;
	color: #f1f1f1;
	z-index: 5;
}

.content {
	padding: 16px;
}

.sticky {
	position: fixed;
	top: 0;
	width: 100%;
}
