.header-logo {
	grid-area: logo-h;
}

.header-content {
	grid-area: content-h;
	display: grid;
	grid-template-columns: 1fr 1fr 1fr;
}

.menu-item {
	justify-self: center;
	align-self: center;
	height: 1.5em;
	width: 60%;
	text-align: center;
	border-radius: 3px;
}

.menu-item > i {
	margin-left: 5px;
}
.menu-item:hover {
	color: #cee0cb;
	cursor: pointer;
	border-bottom: 1px solid;
}

.floating-header {
	position: fixed;
	width: 100%;
	display: grid;
	background-color: #010001;
}

.header-presentation {
	height: 50vh;
	display: grid;
}

.main-menu {
	height: 6vh;
	color: #ffffff;
	z-index: 2;
	place-self: center;
	width: 80%;
	padding-top: 1em;
}

.menu-item.active {
	border-bottom: 1px solid;
}

/*---------------------------------------------*/
.top-container {
	background-color: #010001;
	text-align: center;
}

.header {
	padding: 10px 16px;
	background: #1d1b1b;
	color: #f1f1f1;
	z-index: 5;
	transition: background .7s cubic-bezier(0.85, 0.09, 0.16, 0.9);
}

.content {
	padding: 16px;
}

.sticky {
	position: fixed;
	top: 0;
	width: 100%;
	display: grid;
	background: #0100019e;
}
