.map {
	display: grid;
	height: 390px;
	grid-template-columns: repeat(30, 1fr);
	grid-template-rows: repeat(21,1fr);
}

div[class^="point-"] {
	border-radius: 50%;
	width: 6px;
	height: 6px;
	place-self: center;
}

.point-blank {
	background-color: #666;
}

.point-active {
	background-color: orange;
	opacity: .6;
	cursor: pointer;
}

.point-active:hover {
	opacity: 1;
}

div#map-container {
	background-color: #fff;
	padding: 1em;
	border-radius: .5em;
	box-shadow: 0px 0 4px 1px #d3d3d3;
}

div#map-container > h2 {
	color: #666;
}

div#map-container > span {
	color: orange;
	opacity: .6;
}